.bodyGaleria {
	background-image: url("36.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyAdministradores {


	background-color: darkgray;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyAnuncios {
	background-image: url("38.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyMercadilloSubir {
	background-image: url("31.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyContacto {
	background-image: url("28.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyPreguntas {
	background-image: url("29.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyEnlacesInteres {
	background-image: url("39.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyRegistro {
	background-image: url("25.jpg");
	background-size: cover;
	/* background-repeat: repeat; */
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyUsuario {
	background-image: url("40.jpg");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyLogin {
	background-image: url("24.jpg");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyComentarios {
	background-image: url("40.jpg");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyRutas {
	background-image: url("34.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}

.bodyHistoria {
	background-image: url("35.jpg");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;

}

.body {
	background-image: url("33.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;

}

.bodyChat {
	background-color: #5570b1;
	margin: 0;
	height: 100vh;

}

.bodyOrfeo {
	background-image: url("37.jpg");
	background-size: cover;
	background-repeat: repeat;
	margin: 0;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;

}

/* body{
	display: flex;
	flex-direction: column;
	height:100vh;
	margin :0;
  } */
body {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	/* width: 100%; */
	background-color: #2c2a2a80;
	height: 4%;
	color: white;
	/* text-align: center; */
	padding-left: 37%;
	padding-top: 3px;
	margin-top: auto;
	width: 100%;
}

.foot {

	font-size: medium;
}

.cuevas {

	border-left: 2px solid;
	padding-top: 10px;

}

.preguntas {
	border-left: 2px solid;
	border-right: 2px solid;
	padding-top: 5px;
}

.contacto {
	border-left: 2px solid;
	border-right: 2px solid;
	padding-top: 5px;
}

.comollegar {
	border-left: 2px solid;
	border-right: 2px solid;
	padding-top: 5px;
}

#div2 {
	flex: 1;


}

.navbar {
	top: 0;

	border-radius: 8px;
	border-color: #080808;
	font-weight: bold;
	width: 100%;
	height: 60px;
	line-height: 1.5;



}

.caja {
	font-family: sans-serif;
	color: #0b0b0b;
	font-size: 17px;
	font-weight: 400;
	/* font-weight: bolder; */
	text-align: left;
	background: #57a14fc7;
	margin: 40px;
	/* overflow: hidden; */
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 2px solid #040404;

	box-shadow: 5px 0px 19px 4px;
	margin-bottom: 5%;
}

@media (max-width:576px) {
	.caja {
		font-family: sans-serif;
		color: #0b0b0b;
		font-size: 24px;
		font-weight: 400;
		/* font-weight: bolder; */
		text-align: left;
		background: #57a14fc7;
		margin: 40px;
		/* overflow: hidden; */
		padding: 20px;
		border-radius: 35px 0px 35px 0px;
		-moz-border-radius: 35px 0px 35px 0px;
		-webkit-border-radius: 35px 0px 35px 0px;
		border: 2px solid #040404;

		box-shadow: 5px 0px 19px 4px;
		margin-bottom: 5%;
	}
}

#historia {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 15%;
	padding: 10px;


}

/* .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2c2a2ad9;
	height: 4%;
	color: white;
	text-align: center;
} */

/* #imgInicio {

	height: 1200px;
	width: 20100px;
} */

#divImgInicio {
	margin-top: 7%;
	margin-bottom: 5px;

}



#galeriaImg {
	padding: 10px;
	height: 500px;
	width: 900px;

}

#botonesRutas {
	color: black;
}

@media (max-width: 576px) {

	#fotosMercadillo {
		margin-top: 5%;
		margin-left: 8%;
		margin-bottom: 3%;
	}
}

@media (max-width:576px) {

	#fotosMercadillo {
		width: 54%;
		margin-top: 5%;
		margin-left: 8%;
		margin-bottom: 3%;
	}
}



#explicacionMercadillo {
	text-decoration: none;
	margin-top: 6%;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 500;
	margin-bottom: 6%;

}


@media (max-width:576px) {

	#explicacionMercadillo {
		text-decoration: none;
		margin-top: 3%;
		font-size: 22px;
		font-family: sans-serif;
		font-weight: 500;
		margin-bottom: 3%;

	}
}

@media (max-width: 576px) {

	#fotosModel {
		border-radius: 4px;
		padding: 10px;
		height: 500px;
		width: 500px;
	}
}

@media (max-width:576px) {

	#fotosModel {
		border-radius: 4px;
		padding: 10px;
		height: 1024px;
		width: 1024px;
	}
}


.fecha {
	float: right;
	color: white;
	font-size: 17px;
	margin-top: 1%;

	border-radius: 13px;
	/* font-weight: 600; */
	padding: auto;
}

@media (max-width : 576px) {


	.fecha {

		float: right;
		color: white;
		font-size: 17px;
		margin-top: 1%;
		background-color: #ffffff00;
		border-radius: 13px;
		/* font-weight: 600; */




	}
}

#cartelHome {
	padding: 4%;
	font-size: 29px;
	/* width: 100%; */
	margin-right: 30%;

}

@media (max-width : 576px) {


	#cartelHome {
		padding: 4%;
		font-size: 35px;
		margin-right: 38%;
		margin-top: 8%;

	}
}

#cartelHistoria {
	padding: 4%;
	font-size: 28px;
	/* width: 100%; */
	margin-right: 40%;
	background-color: #57a14fc7;
}

@media (max-width : 576px) {


	#cartelHistoria {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #57a14fc7;

	}
}

#cartelRutas {
	padding: 4%;
	font-size: 29px;
	/* width: 100%; */
	margin-right: 20%;
	background-color: #deb887c7;
}

@media (max-width : 576px) {


	#cartelRutas {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #deb887c7;

	}
}

#cartelTablon {
	padding: 5%;
	font-size: 29px;
	/* width: 100%; */
	margin-right: 12%;
	background-color: #db7373c7;
}

@media (max-width : 576px) {


	#cartelTablon {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #db7373c7;

	}
}



#cartelEnlaces {
	padding: 4%;
	font-size: 29px;
	/* width: 100%; */
	margin-right: 25%;
	background-color: #75ccbaa8;
}

@media (max-width : 576px) {


	#cartelEnlaces {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #75ccbaa8;

	}
}


#cartelRegistro {
	padding: 4%;
	font-size: 25px;
	/* width: 100%; */
	margin-right: 27%;
	background-color: #deb887c7;
}

@media (max-width : 576px) {


	#cartelRegistro {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #deb887c7;

	}
}

#cartelLogin {
	padding: 4%;
	font-size: 25px;
	/* width: 100%; */
	margin-right: 30%;
	background-color: #5d7e3fc7;
}

@media (max-width : 576px) {


	#cartelLogin {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #5d7e3fc7;

	}
}


#cartelGaleria {
	padding: 4%;
	font-size: 28px;
	/* width: 100%; */
	margin-right: 25%;
	background-color: #8788dec7;
}

@media (max-width : 576px) {


	#cartelGaleria {
		padding: 4%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 32%;
		background-color: #8788dec7;
	}

}

#cartelOrfeo {
	padding: 3%;
	font-size: 30px;
	/* width: 100%; */
	margin-right: 43%;
	background-color: #4f52c8c7;
}

@media (max-width : 576px) {


	#cartelOrfeo {
		padding: 6%;
		font-size: 32px;
		/* width: 100%; */
		margin-right: 42%;
		background-color: #4f52c8c7;
	}

}

#cartelServicios {
	padding: 4%;
	font-size: 28px;

	margin-right: -3%;
	background-color: #b48be8c7;
}

@media (max-width : 576px) {


	#cartelServicios {
		padding: 4%;
		font-size: 35px;
		/* width: 100%; */
		margin-right: 38%;
		background-color: #deb887c7;
	}

}

/*+++++++++++++++++++++++Navs+++++++++++++++++++++++++++*/
#navPrincipal {
	font-size: 16px;
	z-index: 3;
	text-shadow: aliceblue;

	height: 100px;
}

@media (max-width : 576px) {


	#navPrincipal {
		font-size: 24px;
		z-index: 3;
		text-shadow: aliceblue;
		/* font-family: math; */
		height: 100px;
	}


}

#navUsuario {
	font-size: 16px;
	z-index: 3;
	text-shadow: aliceblue;

	height: 100px;
}

@media (max-width : 576px) {


	#navUsuario {
		font-size: 24px;
		z-index: 3;
		text-shadow: aliceblue;
		/* font-family: math; */
		height: 100px;
	}
}

#navAdministrador {
	font-size: 15px;
	z-index: 3;
	text-shadow: aliceblue;

	height: 100px;
}

@media (max-width : 576px) {


	#navAdministrador {
		font-size: 24px;
		z-index: 3;
		text-shadow: aliceblue;
		/* font-family: math; */
		height: 100px;
	}
}

#desplegableNavPrincipal {
	font-size: 15px;
}

@media (max-width : 576px) {


	#desplegableNavPrincipal {
		font-size: 25px;
	}
}

/*++++++++++++++++++++Comentarios+++++++++++++++++++++++++++*/

#cajaComentarios {
	background-color: rgb(26 52 123 / 43%);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: overlay;
	padding: 15px;
	position: relative;

	height: 1000px;



}

@media (max-width : 576px) {


	#cajaComentarios {
		background-color: rgb(26 52 123 / 43%);
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		overflow: overlay;
		padding: 15px;
		position: relative;

		height: 1000px;


	}
}

#cajaAbajoComentarios {
	padding: 15px;
	position: relative;
	bottom: 0;

	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: rgb(26 52 123 / 43%);

}

@media (max-width : 576px) {


	#cajaAbajoComentarios {
		padding: 15px;
		position: relative;
		bottom: 0;

		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		background-color: rgb(26 52 123 / 43%);

	}

}

#containerComentario {
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: 19%;
}

@media (max-width : 576px) {



	#containerComentario {
		margin-top: 3%;
		margin-bottom: 5%;
		margin-left: 0%;
	}
}

#comentarioTextoPropuesta {
	padding: 10px;
	border-radius: 6px;
	font-size: 20px;
	background-color: rgb(251, 251, 251);
	font-weight: 500;
	border-width: thin;
	/* width: 98%; */
	height: 200px;
	/* box-shadow: 21px 19px 19px 0px; */
	/* box-shadow: 3px 3px 7px 0px; */
	overflow: auto;
}

@media (max-width : 576px) {



	#comentarioTextoPropuesta {
		padding: 10px;
		border-radius: 6px;
		font-size: 25px;
		background-color: rgb(251, 251, 251);
		font-weight: 500;
		border-width: thin;
		/* width: 98%; */
		height: 200px;
		/* box-shadow: 21px 19px 19px 0px; */
		/* box-shadow: 3px 3px 7px 0px; */
		overflow: auto;
	}
}

#textoComentarios {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	/* box-shadow: 5px 0px 23px 2px rgb(0 0 0 / 50%); */
	position: relative;
	padding: 20px;
	font-weight: 500;
	font-size: 20px;
	border: groove;
	/* font-family: sans-serif; */
	display: -webkit-inline-box;
}

@media (max-width : 576px) {
	#textoComentarios {
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 20px;
		/* box-shadow: 5px 0px 23px 2px rgb(0 0 0 / 50%); */
		position: relative;
		padding: 20px;
		font-weight: 500;
		font-size: 20px;
		border: groove;
		/* font-family: sans-serif; */
		display: -webkit-inline-box;
	}



}

#tablaComentarios {
	max-height: 48%;
	width: 91%;
	display: block;
	/* border: solid; */
	overflow-y: auto;
	margin: 4%;
	background-color: #fffffffa;
	padding: 1%;
}

@media (max-width : 576px) {
	#tablaComentarios {
		max-height: 48%;
		width: 91%;
		display: block;
		/* border: solid; */
		overflow-y: auto;
		margin: 4%;
		background-color: #fffffffa;
		padding: 1%;
	}
}

#puntuacionTotal {
	font-size: 20px;
	font-weight: 500;

}

@media (max-width : 576px) {
	#puntuacionTotal {
		font-size: 23px;
		font-weight: 500;

	}
}

#propuesta {
	font-size: 20px;
	font-weight: 500;

}

@media (max-width : 576px) {
	#propuesta {
		font-size: 23px;
		font-weight: 500;

	}
}

#textoExplicacion {
	font-size: 16px;

}

@media (max-width : 576px) {
	#textoExplicacion {
		font-size: 25px;

	}
}

#textoAside {
	font-size: 13px;

}

@media (max-width : 576px) {
	#textoAside {
		font-size: 22px;

	}
}

#textoMercadillo {
	font-size: 16px;
	padding: 1%;

}

@media (max-width : 576px) {
	#textoMercadillo {
		font-size: 24px;
		padding: 1%;

	}
}

#textoPresentacion {
	font-size: 17px;

}

@media (max-width : 576px) {
	#textoPresentacion {
		font-size: 24px;

	}
}