<!DOCTYPE html>
<html>

<head>
  <title>Cuevas de Ayllón Campus/orfeo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=500, user-scalable=no" />


  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>

<body>

  <div class="row">
    <header class="bodyOrfeo" style="text-align: center;
  color: #ffffff;
  font-family: cursive;
  border-radius: 10px;
  height: 100%;">
      <div class="col-lg-2 fecha" id="fecha"></div>

      <div class="col-lg-7" style="padding-top: 8%;
      padding-bottom: 8%;">
        <div id="cartelOrfeo">Campus
          ORFEO/ORPHEUS DE LAS TIERRAS DE AYLLÓN</div>
      </div>
    </header>
  </div>
  <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>


  <!-- <div class="row" style="margin-left: 10%;"> -->
  <div >


    <div class="col-lg-3 col-sm-10" style=" margin-left: 1%;float: right;margin-right: 7%;
 margin-top: 4%;
 font-size: 20px;
 font-family: serif;
 margin-bottom: 4%;">
      <hr>
      <p>
        Campus Orfeo es una iniciativa de un vecino del pueblo que busca soluciones a la España vaciada. Es muy
        interesante y os recomendamos que lo leáis.
      </p>


      <p>
        Esperamos que te guste y que lo disfrutes.
      </p>
      <hr>

    </div>
    <div class=" col-lg-5 col-sm-10" style='float: right;
    
    
    margin-bottom: 5%;
    font-size: 22px;
    margin-top: 2%
    ;text-align: center;'>
      <div style="font-size: 51px;">
        <strong>SÍNTESIS</strong>
      </div>
      <div style="margin-bottom: 5%;">
        <img src="uploads/RETODDEMOGRAFICOYUNUVERSIDAD.webp" alt="" style="width: 100%;">
      </div>
      <!-- <div style="margin-left: 10%;
      font-size: 23px;">
        <div>
          Ante el desequilibrio territorial y poblacional se propone

          ¡UNA ACCIÓN TEMPORAL DE EFECTO PERMANENTE!

          (explicada en menos de 80 palabras)

          Una inédita "industria de la educación" iniciada mediante un desplazamiento de estudiantes -renovado
          anualmente- hacia poblaciones despobladas o en proceso de despoblación (acción temporal).
        </div>
      </div> -->
      <div style="text-align: center;margin-bottom: 5%;">
        <p class="wnd-align-center"><strong>
            <font class="wsw-43 wnd-font-size-160">Ante el desequilibrio territorial y poblacional se propone</font>
          </strong></p>
        <p class="wnd-align-center"><strong>
            <font class="wsw-43 wnd-font-size-170">¡UNA ACCIÓN TEMPORAL DE EFECTO PERMANENTE!</font>
          </strong></p>
        <p class="wnd-align-center"><strong>
            <font class="wsw-41 wnd-font-size-130">(explicada en menos de 80 palabras)</font>
          </strong></p>
        <p class="wnd-align-center"><strong>
            <font class="wsw-44 wnd-font-size-160">Una inédita&nbsp;<em>"industria de la
                educación"</em>&nbsp;iniciada mediante un desplazamiento de estudiantes -renovado anualmente- hacia
              poblaciones despobladas o en proceso de despoblación (acción temporal).</font>
          </strong></p>
      </div>
      <div style="margin-bottom: 5%;">
        <img src="uploads/aulasvacias3-copia.webp" alt="" style="width: 100%;">
      </div>
      <!-- <div style="margin-left: 10%;
      font-size: 23px;">
        <div>
          Para generar tal demanda de alojamientos y servicios que atraiga al número de personas en busca de trabajo y
          asentamiento familiar necesarias para asegurar el reequilibrio poblacional y territorial, la calidad de vida,
          la conservación del patrimonio cultural y natural y el empoderamiento ciudadano en condiciones de autonomía,
          pluralismo y convivencia intercultural (efecto permanente).
        </div>
      </div> -->
      <div style="text-align: center;">
        <div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p class="wnd-align-center"><br></p>
          <p class="wnd-align-center">
            <font><strong style="">
                <font class="wsw-44 wnd-font-size-160" style="">Para generar tal demanda de alojamientos y servicios que
                  atraiga al número de personas en busca de trabajo y asentamiento familiar necesarias para asegurar el
                  reequilibrio poblacional y territorial, la calidad de vida, la conservación del patrimonio cultural y
                  natural y el empoderamiento ciudadano en condiciones de autonomía, pluralismo y convivencia
                  intercultural (efecto permanente).</font>
              </strong></font>
          </p>
        </div>
      </div>
      <div style="margin-bottom: 5%;">
        <img  src="uploads/tresportadasrescatando.webp" alt="" style="width: 100%;">
      </div>
      <!-- <div style="margin-left: 10%;
      font-size: 23px;">
        <strong style="font-size: 40px;">
          "RESCATANDO A EURÍDICE"
        </strong></br></br>

        Es un acrónimo con tres significados complementarios.
        <p>
          El primero, centrado en la España vaciada:
        </p></br>

        "Repoblación de la España solitaria combinando activos territoriales y aplicaciones novedosas de docencia
        online, adaptadas a la enseñanza universitaria reglada, que incentiven el desarrollo de infraestructuras y la
        creación de empleo".
        <p>
          El segundo, en darle un giro decisivo al actual funcionamiento de la enseñanza superior:

          "Renovar la enseñanza substituyendo las clases actuales por técnicas de aprendizaje novedosas de docencia
          online para auxiliar al estudiante universitari@, rehén inerme de una docencia insostenible, carcomida por la
          endogamia".
        <p>
          El tercero, para describir su dimensión universal:
        </p></br>
        "Repoblación equilibrada y sostenible para la conversión de áreas territoriales abandonadas en nuevos destinos
        y oportunidades de asentamiento. Estrategia universal de respuesta al incremento demográfico incentivando la
        creación de empleo".

        CAMPUS, VIVIENDA, DESCARBONIZACIÓN, EMPLEO Y REPOBLACIÓN

        Un aspecto esencial sobre el que esta propuesta desea llamar la atención es la rehabilitación de viviendas. Y
        es que si se asume la íntima relación existente entre vivienda rural y repoblación, vivienda rural y
        descarbonización y vivienda rural y empleo, los Campus Orfeo pilotos (COp) que se proponen están llamados a
        modificar radicalmente el panorama actual de la España vaciada. Y es que, ante la escasa atención
        gubernamental dispensada a la rehabilitación de viviendas en los municipios rurales y la falta de motivaciones
        para acogerse sin expectativas claras a los paquete de subvenciones disponibles, el modelo actual de reto
        demográfico está abocado al fracaso.
      </div> -->
      <div class="b b-text cf" style="font-size: 24px;">
        <div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p class="wnd-align-center"><em>
              <font class="wsw-43 wnd-font-size-200"><strong>"RESCATANDO A
                  EURÍDICE"</strong></font>
            </em></p>
          <p class="wnd-align-center">
            <font class="wnd-font-size-140 wsw-43"><strong>Es un acrónimo con tres significados complementarios. El
                primero, centrado en la España vaciada:&nbsp;</strong></font>
          </p>
          <p class="wnd-align-center">
            <font class="wsw-44 wnd-font-size-150"><strong><em>
                  <font class="wsw-41">"R</font>
                </em><em style="">epoblación
                  de la <font class="wsw-41">E</font>spaña <font class="wsw-41">s</font>olitaria <font class="wsw-41">c
                  </font>ombinando <font class="wsw-41">a</font>ctivos <font class="wsw-41">t</font>erritoriales y <font
                    class="wsw-41">a</font>plicaciones
                  <font class="wsw-41">n</font>ovedosas de<font class="wsw-41"> d</font>ocencia <font class="wsw-41">o
                  </font>nline,
                </em> <em>
                  <font class="wsw-41">a</font>
                </em><em style="">daptadas a la <font class="wsw-41">e</font>nseñanza <font class="wsw-41">u</font>
                  niversitaria <font class="wsw-41">r</font>eglada,
                  que <font class="wsw-41">i</font>ncentiven el <font class="wsw-41">d</font>esarrollo de <font
                    class="wsw-41">i</font>nfraestructuras y la <font class="wsw-41">c</font>reación
                  de <font class="wsw-41">e</font>mpleo".&nbsp;</em></strong></font>
          </p>
          <p class="wnd-align-center">
            <font class="wnd-font-size-140 wsw-43"><strong>El segundo, en darle
                un giro decisivo al actual funcionamiento de la enseñanza superior:&nbsp;</strong></font>
          </p>
          <p class="wnd-align-center">
            <font class="wsw-44 wnd-font-size-150"><strong><em>
                  <font class="wsw-41">"R</font>
                </em><em style="">enovar la <font class="wsw-41">e</font>nseñanza <font class="wsw-41">s</font>
                  ubstituyendo las <font class="wsw-41">c</font>lases
                  <font class="wsw-41">a</font>ctuales por <font class="wsw-41">t</font>écnicas de <font class="wsw-41">
                    a</font>prendizaje <font class="wsw-41">n</font>ovedosas de <font class="wsw-41">d</font>ocencia
                  <font class="wsw-41">o</font>nline para <font class="wsw-41">a</font>uxiliar al <font class="wsw-41">e
                  </font>studiante <font class="wsw-41">u</font>niversitari@,
                  <font class="wsw-41">r</font>ehén<font class="wsw-41"> i</font>nerme de una <font class="wsw-41">d
                  </font>ocencia <font class="wsw-41">i</font>nsostenible, <font class="wsw-41">c</font>arcomida por la
                  <font class="wsw-41"> e</font>ndogamia".
                </em></strong></font>
          </p>
          <p class="wnd-align-center"><strong>
              <font class="wnd-font-size-140 wsw-43">El
                tercero, para describir su dimensión universal:</font>
            </strong></p>
          <p class="wnd-align-center"><strong>
              <font class="wsw-44 wnd-font-size-150"><em>
                  <font class="wsw-41">"R</font>epoblación
                  <font class="wsw-41">e</font>quilibrada y <font class="wsw-41">s</font>ostenible para la <font
                    class="wsw-41">c</font>onversión de <font class="wsw-41">á</font>reas <font class="wsw-41">t</font>
                  erritoriales <font class="wsw-41">a</font>bandonadas
                  en <font class="wsw-41">n</font>uevos <font class="wsw-41">d</font>estinos y <font class="wsw-41">o
                  </font>portunidades de <font class="wsw-41">a</font>sentamiento. <font class="wsw-41">E</font>
                  strategia <font class="wsw-41">u</font>niversal de
                  <font class="wsw-41">r</font>espuesta al<font class="wsw-41"> i</font>ncremento <font class="wsw-41">d
                  </font>emográfico <font class="wsw-41">i</font>ncentivando la <font class="wsw-41">c</font>reación de
                  <font class="wsw-41">e</font>mpleo".
                </em></font>
            </strong></p>
          <p class="wnd-align-center"><strong>
              <font class="wsw-43 wnd-font-size-200">CAMPUS, VIVIENDA, DESCARBONIZACIÓN, EMPLEO Y
                REPOBLACIÓN</font>
            </strong></p>
          <p class="wnd-align-center">
            <font class="wsw-44 wnd-font-size-150"><strong>Un aspecto esencial sobre el que
                esta propuesta desea llamar la atención es la rehabilitación de viviendas. Y es que
                si se asume la íntima relación existente entre vivienda rural y repoblación,
                vivienda rural y descarbonización y vivienda rural y empleo, los </strong><em><strong>Campus Orfeo
                  pilotos (COp)&nbsp;</strong></em><strong>que se proponen están llamados a modificar
                radicalmente el panorama actual de la España vaciada. Y es que, ante la escasa
                atención gubernamental dispensada a la rehabilitación de viviendas en los
                municipios rurales y la falta de motivaciones para acogerse sin expectativas
                claras a los paquete de subvenciones disponibles, el modelo actual de reto
                demográfico está abocado al fracaso.</strong></font>
          </p>
        </div>
      </div>
      <div>
        <p class="wnd-align-center"><strong>
            <font class="wsw-47 wnd-font-size-200"><a href="https://accesodialogosintesis.webnode.es" rel="nofollow"
                target="_blank">LEE +</a></font>
          </strong></p>
      </div>
    </div>



    <aside class="col-lg-3 col-sm-10" style="text-decoration: none;margin-top: 4%;margin-left: 10%;">
      <a href="" style="text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #2f3235c7;">Cuevas de Ayllón</a>
      <hr>
      <a href="https://www.guardiacivil.es/ca/institucional/directorio/soria/puesto_de_san_esteban_de_gormaz.html"
        style="text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #2f3235c7;" data-toggles="tooltip" data-placement="bottom" title="GUARDIA CIVIL
             PUESTO DE SAN ESTEBAN DE GORMAZ
             Localidad: SAN ESTEBAN DE GORMAZ
             Provincia: SORIA
             Dirección postal: AVDA. DEL GENERALISIMO, 10
             Código postal: 42330
             Teléfono: 975350046">Seguridad ciudadana</a>
      <hr>
      <a th:href="@{/contacto}" style="text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #2f3235c7;">Contacto</a>
      <hr>
      <a th:href="@{/preguntas}" style="text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #2f3235c7;">Preguntas frecuentes</a>
      <hr>
      <a href="https://www.google.com/maps/place/42342+Cuevas+de+Ayll%C3%B3n,+Soria/@41.3900595,-3.3133699,16z/data=!3m1!4b1!4m5!3m4!1s0xd4471d9e8689bef:0xd01fd59690b0f669!8m2!3d41.3899419!4d-3.3093724"
        style="text-decoration: none;
    font-size: 19px;
    font-family: sans-serif;
    color: #2f3235c7;">Como llegar</a>
      <hr>

    </aside>
    <!-- <embed src="files/EARTHinitiative.pdf" type="application/pdf" width="100%"  /> -->

  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script th:src="@{/js/fecha.js}"></script>
  <script th:src="@{/js/clima.js}"></script>
</body>


</html>