<!DOCTYPE html>
<html>

<head>
  <title> Hoyos Historia</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=500, user-scalable=no" />
  
 
  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  

</head>

<body>
  <div class="row">
    <header class="bodyHistoria" style="text-align: center;
  color: #ffffff;
  font-family: cursive;
  border-radius: 10px;
  height: 100%;">
      <div class="col-lg-2 fecha"  id="fecha" ></div>

      <div class="col-lg-5" style="padding-top: 8%;
      padding-bottom: 8%;">
        <div id="cartelHistoria">Historia de Hoyos</div>
      </div>
    </header>
  </div>
  <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>




   <!-- <div class="row" style="margin-left: 7%;">  -->
    <div class="container-fluid" > 
    <div class="col-lg-2" style=" margin-left: 2%;
    margin-top: 3%;
    font-size: 20px;
    font-family: serif;
    float: right;
    margin-right: 5%;">
         <hr>
         <p>
           En esta sección hacemos un breve resumen geográfico e histórico de cuevas de Ayllón. Si nos visitas te
           recomendamos leerlo para hacerte una idea de lo que fue el pueblo y las etapas por las que ha ido pasando.
   
           En caso de estar muy interesado en ampliar esta información, puedes dirigirte a la publicación Cuevas de Ayllón.
           Historia-Tradición-Cultura de Silvano Andrés de la Morena, autor también de este resumen y vecino de nuestra
           localidad.
   
           
         </p>
   
   
         <p>
           Esperamos que te guste y que lo disfrutes.
         </p>
         <hr>
       </div>
    
    <div class="caja col-lg-6" style="margin-top: 3%;float: right;">
      <!-- <textarea name="" id="historia" cols="200" rows="50" readonly> -->
      <h2 style=" text-align: center; font-weight: bold;margin-top: 10%;">
        Cuevas de Ayllón
      </h2><br><br><br>


      <p style="text-align: left;font-weight: bold;margin-left: 7px;">
        Situación geográfica e histórica
      </p><br>

      <p style="">


        Cuevas de Ayllón se sitúa en la parte suroeste de la actual provincia de Soria. Limita con Torremocha, Liceras,
        Noviales, Santibáñez, Estebanvela, Francos y Ligos. A finales de los años sesenta del pasado siglo, fue
        incorporado
        al Ayuntamiento de Montejo de Tiermes. Hasta entonces, y desde los años veinte del siglo XIX, había formado
        municipio propio con su agregado Ligos, que se incorporó hacia 1850. Tuvo, por lo tanto, consistorio
        independiente
        durante ciento cuarenta años.<br><br>

        A una altitud de 1.046 metros sobre el nivel del mar, se asentó sobre una roca arenisca, en la margen izquierda
        del río Pedro, cuyo curso atraviesa casi por el centro su término municipal, de Sureste a Noroeste, hasta el
        Duero, y
        en su recorrido se encuentran importantes restos prerromanos. Entre los más significativos hay que destacar, sin
        duda
        alguna, las pinturas rupestres del Hoyo. Otro resto de primera magnitud es el castro situado ya en el término de
        Ligos, límite con el de Cuevas, en el paraje de La Pedriza, sobre la roca blanca. Se calcula que este
        asentamiento
        es del siglo V antes de nuestra era. Asimismo, se conservan restos arqueológicos en las cercanías del pueblo, en
        la parte que se denomina Barrio de Abajo y en el paraje llamado La Vega. Todos estos vestigios fueron estudiados
        a
        mediados de los años sesenta por Teógenes Ortego.<br><br>

        ¿En qué contexto histórico cabe situar todo esto? Al Oriente del pueblo, en línea recta, a unos 15 kilómetros,
        se
        encuentra la antigua ciudad celtíbera de Termancia. Sus primeros asientos humanos pertenecen a la Edad del
        Bronce
        (3.000 años a. C., es decir, hace 5.000 años). Aunque, al parecer, los datos sobre población en la zona se
        pueden
        datar bastante antes, en el Neolítico, esto es, en el último periodo de la Edad de Piedra, unos 8.000 años
        atrás.
        Los restos, celtíberos prerromanos, pertenecerían al pueblo arévaco, como Numancia, en el norte de Soria, o
        Uxama,
        al lado de El Burgo de Osma.

        Así pues, tras los primeros asentamientos en el Neolítico, la llegada de prerromanos, sobre todo celtíberos, en
        la
        edad del Bronce, después la conquista de los romanos, la entrada de los visigodos, la invasión de los árabes y
        la
        posterior reconquista, las huellas en toda la zona son muchas y diversas. Con todo ello, Termancia, primero,
        celtíbero y después romano, fue, por lo tanto, el centro antiguo de todo un amplio contorno, que incluía a
        Cuevas,
        para ir decayendo desde los últimos siglos de la Edad Antigua y primeros de la Edad Media.<br><br>

        Con el paso de los tiempos y las nuevas realidades históricas, políticas y culturales, sobre todo desde que,
        expulsados los musulmanes, se formó el reino de Castilla, se organizaron otros dos centros de influencia en toda
        la
        extensa comarca: Caracena y Ayllón. La mayor parte de la vida histórica de Cuevas, desde la Edad Media, está
        unida
        a
        la de la villa de Ayllón, a la de su Comunidad de Villa y Tierra y al Obispado de Sigüenza, cuyo límite Norte
        era
        el
        río Duero.<br><br>

        La Tierra de Ayllón (Cuevas, en ella), tras años de disputas entre obispados, fue incorporada a la diócesis de
        Sigüenza en 1136. Un decreto pontificio firmado en el día 22 de noviembre de 1955 y que vio la luz el 24 de
        marzo
        de
        1956 incorporó Cuevas a la diócesis de Osma- Soria.<br><br>

        En la administración civil del Antiguo Régimen, el Lugar de Las Cuevas, como toda la Tierra de Ayllón,
        perteneció
        durante 300 años al territorio de la antigua provincia de Segovia. En concreto, desde el año 1502, fecha que se
        ha
        sugerido como probable origen de las provincias, hasta 1802, que se incluyó en Burgos.

        No obstante, hasta el siglo XVIII no aparecen referencias de Cuevas como perteneciente a jurisdicción provincial
        alguna, en las diligencias de trámite diario; la única referencia de identificación territorial hasta entonces
        era
        la de "Las Cuevas, Lugar y Jurisdicción de la Villa de Ayllón y su Tierra". Se debe a la escasa personalidad
        jurídica y funcional del territorio llamado provincia. Sí aparecen referencias a partir del siglo XVIII, cuando
        se
        crearon las Intendencias, que adquirieron atribuciones más amplias y definidas, con lo cual este territorio
        superior
        al señorío sirve también para identificar y situar en ellas los pueblos.<br><br>

        Como se dice arriba, durante una veintena de años de principios del siglo XIX, Cuevas estuvo incorporada a la
        antigua provincia de Burgos, como toda la Comunidad de Villa y Tierra de Ayllón. La definitiva solución llegó de
        la
        mano del Ministro de Fomento, Javier de Burgos, mediante el Real Decreto mandando hacer la división territorial
        de
        las provincias que se contiene en seguida. Es del 30 de noviembre de 1833. Y así Cuevas quedó incorporada en la
        provincia de Soria.<br><br>
      <p style="text-align: left;font-weight: bold;margin-left: 7px;">
        Nombres del pueblo a lo largo de la historia
      </p><br>
      <p style="">
        El nombre más antiguo documentado es el de Las Cuevas de Río Cavo, denominación curiosa y descriptiva que
        aparece
        ya
        en el siglo XV. Este nombre se siguió usando en la mayoría de documentación oficial y privada del siglo XVI y
        del
        XVII. En realidad, vendría a significar Las Cuevas de junto al río, como efectivamente es. Con el paso del
        tiempo,
        sobre todo desde bien entrado el siglo XVII, en la documentación oficial solía aparecer el extenso nombre de
        Lugar
        de las Cuevas, aldea y jurisdicción de la villa de Ayllón. Es como se denomina hasta principios del siglo XIX.
        Después de la Constitución de Cádiz (1812), se le denomina como Ayuntamiento Constitucional de Las Cuevas y,
        tras
        la
        reforma provincial de noviembre de 1833, toma el nombre actual, ya definitivo, de Cuevas de Ayllón (sin el
        artículo), pues cuando hay poblaciones que comparten nombre se les añadía un apellido para diferenciarlas. Así,
        en
        Soria, están, además, Cuevas de Ágreda y Cuevas de Soria.
      </p><br>
      <p style="text-align: left;font-weight: bold;margin-left: 7px;">
        Dos barrios
      </p><br>
      <p style="">
        El pueblo constaba de dos barrios, el principal y el llamado Barrio de Abajo, que se despobló pero que se ha
        vuelto
        a revitalizar con la reconstrucción de tres casas. Está situado al lado del molino y cerca de la Fuente, llamada
        en
        el

        pasado Fuente de los Nabares. Lo formaba un pequeño conjunto de casas situadas a lo largo de una sola calle,
        convertidas, una vez despoblado, en tenadas de ganadería. En algunas de ellas, aún se puede apreciar
        perfectamente
        la estructura de la vivienda. Sabemos por documentos del siglo XVIII, que en 1752 tenía 8 casas y 6 vecinos.

        El Barrio de Abajo tuvo sus últimos moradores hasta principio de los años treinta. Concretamente hasta
        septiembre
        de
        1931. Allí acabó sus días la familia de los Bajancos, cuyo matrimonio, al parecer, murió el mismo día, o con uno
        de
        diferencia. Marido y mujer fueron enterrados en una tumba común.

        En medio de los dos barrios, en el paraje llamado Cerca del Horno, había dos casas. Sus últimos moradores fueron
        el
        tio Ciego y la tia Grilla, que acabaron sus días en los años veinte.

        Y también en medio de los dos barrios se alza la Iglesia de San Juan Bautista y de Nuestra Señora del Olmo.<br>
      </p><br>

      <p style="text-align: left;font-weight: bold;margin-left: 7px">
        Despoblado de Sotocarros
      </p><br>
      <p style="">
        <!-- </h3>
  <p style=" margin-left: 20px;margin-right: 20px; padding: 30px;"> -->
        Esta cuestión, es sin duda, la más importante en la historia de Cuevas de Ayllón, tanto por sus efectos como por
        su
        duración pues el tema se prolongó nada más y nada menos que durante cuatrocientos setenta y cuatro años, desde
        que
        el Marqués de Villena y Conde de San Esteban de Gormaz cedió en censo enfitéutico el despoblado de Sotocarros al
        Concejo y vecinos de Las Cuevas de Río Cavo, como se llamaba entonces el pueblo. La formalización del censo
        enfitéutico tuvo lugar el año 1473 y su redención total y final se produjo, tras una historia compleja, en el
        año
        1947.<br><br>

        Sotocarros fue una pequeña población surgida, como otras, en la margen izquierda del río Pedro en la Edad Media,
        en
        los alrededores del paraje conocido como San Andrés, camino de La Dehesa de Valdepeñas. Tan solo quedan los
        restos
        de una pared, que la gente del pueblo identificaba como de su iglesia. La pobreza fue la causa más probable de
        su
        desaparición. Su término municipal, que hoy forma parte del de Cuevas, abarcaba desde Valdegalindo, por la línea
        del
        monte, toda la Dehesa de Valdepeñas y hasta las lindes de Santibáñez y Estebanvela. El despoblado tuvo
        consideración
        jurídica propia hasta el siglo XIX en que se consideró ya como único término de Cuevas.

        El despoblado de Sotocarros se denominaba oficialmente Coto y Término de Sotocarros y Valdepeñas, tal como
        aparece
        en documentos jurídicos. También con el más breve de Despoblado de Sotocarros y dehesa de Valdepeñas. Y otras
        veces
        como Heredad de Valdepeñas, aparece en documentos de los marqueses de Villena, refiriéndose, sin duda, a la gran
        importancia de la dehesa dentro de todo el término.<br><br>
      <p style="margin-left: 1%;">
        Para ampliar información, consultar la siguiente publicación:</p><br>
      <p style="margin-left: 1%;">
        <i> CUEVAS DE AYLLÓN, Historia-Tradición-Cultura,</i> de Silvano Andrés de la Morena,
        también autor de este texto.
      </p>
      </p>
      <!-- </textarea> -->
    </div>
    <aside class="col-lg-2" style="text-decoration: none;margin-top: 3%;margin-left: 3%;">
      <a href="" style="text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;
      color: #2f3235c7;
      ">Cuevas de Ayllón</a>
      <hr>
      <a href="https://www.guardiacivil.es/ca/institucional/directorio/soria/puesto_de_san_esteban_de_gormaz.html" style="text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;
      color: #2f3235c7;" data-toggles="tooltip" data-placement="bottom" title="GUARDIA CIVIL
             PUESTO DE SAN ESTEBAN DE GORMAZ
             Localidad: SAN ESTEBAN DE GORMAZ
             Provincia: SORIA
             Dirección postal: AVDA. DEL GENERALISIMO, 10
             Código postal: 42330
             Teléfono: 975350046">Seguridad ciudadana</a>
      <hr>
      <a th:href="@{/contacto}" style="text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;
      color: #2f3235c7;">Contacto</a>
      <hr>
      <a th:href="@{/preguntas}" style="text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;
      color: #2f3235c7;">Preguntas frecuentes</a>
      <hr>
      <a href="https://www.google.com/maps/place/42342+Cuevas+de+Ayll%C3%B3n,+Soria/@41.3900595,-3.3133699,16z/data=!3m1!4b1!4m5!3m4!1s0xd4471d9e8689bef:0xd01fd59690b0f669!8m2!3d41.3899419!4d-3.3093724"
        style="text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;
      color: #2f3235c7;">Como llegar</a>
      <hr>

    </aside>

   
  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
  <!-- <footer th:replace="layouts/fragmentoprincipal :: footer"></footer> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script th:src="@{/js/fecha.js}"></script>
<script th:src="@{/js/clima.js}"></script>
</body>

</html>