<!DOCTYPE html>

<head>
    <title>Hoyos todas propuestas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, user-scalable=no" />

    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
        }

        .content {

            font-family: "Open Sans";
            background-color: white;

        }

        form {
            width: 100%;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        form #q {
            width: 100%;
            text-align: left;
            padding: 5px 0px;
        }
    </style>


</head>




<body class="bodyAdministradores">
    <nav th:replace="layouts/fragmentoAdministradores :: nav"></nav>



    <div class="container content" style="margin-top: 10%;">

        <form>
            <input class="form-control" type="text" id="q" placeholder="Buscar......" onkeyup="search()">
        </form>
        <table class="table table-bordered" style="text-align: center;">

            <thead class="thead-dark">
                <tr>

                    <th scope="col">Fecha </th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Borrar</th>


                </tr>
            </thead>
            <!-- <div class="container" style="background-color:white;" th:if="${usuarioBorrado}"
                th:text="${usuarioBorrado}"></div> -->
            <tbody id="the_table_body">
                <tr th:each="propuesta:${listaPropuestas}">



                    <td th:if="${propuesta.fecha}" th:text="${propuesta.fecha}"></td>

                    <td th:if="${propuesta.fecha == null}" th:text="'sin fecha'"></td>
                    <td th:if="${propuesta.titulo}" th:text="${propuesta.titulo}"></td>


                    <td th:if="${propuesta.usuario.nombre}" th:text="${propuesta.usuario.nombre}"></td>

                    <td><a href="#" data-bs-toggle="modal" class="btn btn-dark"
                            th:attr="data-bs-target='#modal'+${propuesta.idPropuesta}">Borrar Propuesta</a></td>

                    <div class="modal fade" data-bs-backdrop="staticBackdropLabel"
                        th:attr="id=modal+${propuesta.idPropuesta}" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Borrar Propuesta.</h5></br>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="alert alert-danger">Antes de borrar una propuesta, piensalo bien</h5>

                                    <form th:action="@{/borrarPropuesta}" method="post">

                                        <input type="hidden" name="idPropuesta" th:value="${propuesta.idPropuesta}">



                                        <input type="submit" style="margin: 10px;color: #eeeeee;" class="btn btn-dark"
                                            value="Borrar Propuesta">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
            </tbody>
        </table>

        <div class=" col-sm-2">

            <a type="button" value="Volver" th:href="@{/toUsuario}" class="btn "
                style="color: #eeeeee;background-color: #463232a3;margin-left: 4%;">Volver</a>
        </div>

    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function search() {
            var num_cols, display, input, filter, table_body, tr, td, i, txtValue;
            num_cols = 3;
            input = document.getElementById("q");
            filter = input.value.toUpperCase();
            table_body = document.getElementById("the_table_body");
            tr = table_body.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                display = "none";
                for (j = 0; j < num_cols; j++) {
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            display = "";
                        }
                    }
                }
                tr[i].style.display = display;
            }
        }		
    </script>
</body>


</html>