<!DOCTYPE html>
<html>

<head>
    <title> Hoyos Rutas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500" />

    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>

<body>

    <div class="row">
        <header class="bodyRutas" style="text-align: center;
      color: #ffffff;
      font-family: cursive;
      border-radius: 10px;
      height: 100%;">
            <div class="col-lg-2 fecha" id="fecha"></div>

            <div class="col-lg-5" id="divCartel">
                <div id="cartelRutas" th:text="#{text.cliente.cartelrutas}"></div>
            </div>
            <div th:replace="layouts/fragmentoprincipal :: nombreFoto"></div>
        </header>
    </div>
    <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>
    <hr>
    <!-- <div class="row" style="margin-left: 10%;"> -->
    <div>
        <div class="col-lg-2" id="textoExplicacion">
            <hr>
            <p th:text="#{text.cliente.textorutas}">

            </p>
            </br>

            </br>
            <p th:text="#{text.cliente.gustar}">
                <!-- Esperamos que te guste y que las disfutes -->
            </p>
            <hr>
        </div>


        <div class="container col-lg-5 col-sm-12" id="divMedio"
            style="box-shadow: 1px 0px 11px -1px;border-radius: 5px;padding: 3%;">
            <div class="col-12" style="text-align: center;background-color: #be853a91;
            border-radius: 4px;margin-top: 3%;font-style: oblique;">

                <p id="tituloRutas">
                    Lista de rutas que ofrece Hoyos
                </p>

            </div>

            <div class="col-12" style="text-align: center;">

                <a href="" id="botonesRutas" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
                    th:text="#{text.cliente.rutafuentes}">

                </a>
                <div class="modal fade modal-lg" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="font-family: cursive;">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 20px;font-weight: bold;"><b
                                        th:text="#{text.cliente.rutafuentes0}"></b></p>
                                </br>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes1}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes2}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes3}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes4}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes5}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes6}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes7}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes8}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes9}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes10}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes11}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes12}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes13}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes14}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes15}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes16}"></p>
                                <p style="font-size: 18px;font-weight: bold;" th:text="#{text.cliente.rutafuentes17}">
                                </p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes18}"></p>
                                <p style="font-size: 18px;"><b
                                        th:text="#{text.cliente.rutafuentesFuenteHodonDelLugar}"></b></p>
                                <img src="imagenesRutas/fuenteHodon.jpg" alt="" style="width: 100%;"></b>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes19}"></p><br>
                                <p style="font-size: 18px;"><b
                                        th:text="#{text.cliente.rutafuentesFuentesDeLaPlazaDeLaCapilla}"></b>
                                </p>
                                <img src="imagenesRutas/fuenteDelaCapilla.jpg" alt="" style="width: 100%;"></b>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes20}"></p> <br>
                                <p style="font-size: 18px;"><b
                                        th:text="#{text.cliente.rutafuentesFuenteDeSanLorenzo}"></b></p>
                                <img src="imagenesRutas/fuenteSanLorenzo.jpg" alt="" style="width: 100%;"></b>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes21}"></p> <br>
                                <p style="font-size: 18px;"><b th:text="#{text.cliente.rutafuentesPedroGodinez}"></b>
                                </p>
                                <img src="imagenesRutas/fuentePedroGodinez.jpg" alt="" style="width: 100%;"></b>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutafuentes22}"></p>




                                <!-- <img src="https://cuevas-de-ayllon.com/imagenesRutas/peniaZorrera.jpg" alt="" style="width: 100%;"> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
            <div class="col-12" style="text-align: center;">

                <a href="" id="botonesRutas" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                    th:text="#{text.cliente.rutapuenteviejo}">

                </a>
                <div class="modal fade modal-lg" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <p style="font-size: 20px;font-weight: bold;"><b
                                        th:text="#{text.cliente.rutapuenteviejo0}">
                                    </b>
                                </p>
                                <p style="font-size: 18px;">

                                </p></br>
                                <!-- <img src="imagenesRutas/pingano1.jpg" alt="" style="width: 100%;"> -->
                                <!-- <img src="https://cuevas-de-ayllon.com/imagenesRutas/pingano1.jpg" alt="" style="width: 100%;"> -->

                                <p style="font-size: 18px;">

                                </p></br>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
            <div class="col-12" style="text-align: center;">

                <a href="" id="botonesRutas" data-bs-toggle="modal" data-bs-target="#staticBackdrop3"
                    th:text="#{text.cliente.rutacastanios}">

                </a>
                <div class="modal fade modal-lg" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 20px;font-weight: bold;"><b
                                        th:text="#{text.cliente.rutascastanios0}"></b></p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutascastanios1}"></p></br>
                                <div>
                                    <img src="imagenesRutas/castanios/castanios2.jpg" alt="" style="width: 100%;">
                                </div>
                                </br>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutascastanios2}"></p>
                                </br>
                                <div >
                                    <img src="imagenesRutas/castanios/castanios3.jpg" alt="" style="width: 100%;">
                                </div>
                                </br>

                                <p style="font-size: 18px;" th:text="#{text.cliente.rutascastanios3}"></p></br>
                                <div>
                                    <img src="imagenesRutas/castanios/castanios4.jpg" alt="" style="width: 100%;">
                                </div>
                                </br>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutascastanios4}"></p></br>
                                <div>
                                    <img src="imagenesRutas/castanios/castanios5.jpg" alt="" style="width: 100%;">
                                </div>
                                </br>

                                <!-- <img src="imagenesRutas/elPortillo.jpg" alt="" style="width: 100%;"> -->
                                <!-- <img src="https://cuevas-de-ayllon.com/imagenesRutas/elPortillo.jpg" alt="" style="width: 100%;"> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
            <div class="col-12" style="text-align: center;">

                <a href="" id="botonesRutas" data-bs-toggle="modal" data-bs-target="#staticBackdrop4"
                    th:text="#{text.cliente.rutapiscinas}">

                </a>
                <div class="modal fade modal-lg" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 20px;font-weight: bold;"><b
                                        th:text="#{text.cliente.rutapiscinas0}">
                                    </b></p>
                                <p style="font-size: 18px;" th:text="#{text.cliente.rutapiscinas1}">
                                </p></br>

                                <img src="imagenesRutas/piscinahoyos1.jpg" alt="" style="width: 100%;">
                                <!-- <img src="https://cuevas-de-ayllon.com/imagenesRutas/piscinahoyos1.jpg" alt="" style="width: 100%;"> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>

            </div>
        </div>
        <aside th:replace="layouts/fragmentoprincipal :: footer" class="col-lg-2 col-sm-12"></aside>

    </div>











    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/js/fecha.js}"></script>
    <script th:src="@{/js/clima.js}"></script>


</body>


</html>