<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Hoyos tablon de anuncios</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=500" />



  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>

<!-- <body class="bodyAnuncios"> -->

<body>


  <div class="row">
    <header class="bodyAnuncios" style="text-align: center;
  color: #ffffff;
  font-family: cursive;
  border-radius: 10px;
  height: 100%;">
      <div class="col-lg-2 fecha" id="fecha"></div>
      <div class="col-lg-5" id="divCartel">
        <div id="cartelTablon" th:text="#{text.cliente.carteltablon}"></div>
      </div>
      <div th:replace="layouts/fragmentoprincipal :: nombreFoto"></div>
    </header>
  </div>
  <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>
  <hr>
  <!-- <div class="row" style="margin-left: 8%;"> -->
  <div>
    <div class="col-lg-2" id="textoExplicacion" style="margin-right: 6%;
    margin-top: 4%;
    float: right;
    margin-left: 2%;">
      <hr>
      <p th:text="#{text.cliente.textotablon}">
        <!-- En esta sección ponemos todos los anuncios y eventos que se relizan en Hoyos. -->
      </p>

      <p th:text="#{text.cliente.gustar}">
        <!-- Esperamos que te guste y que lo disfrutes. -->
      </p>
      <hr>
    </div>

    <div class="col-lg-5 col-sm-10" style="margin-top: 3%;float: right;margin-bottom: 15%;margin-right: 5%;">
      <div class="container" style="
   
    border-radius: 8px;
    box-shadow: inset 0 0em 0em rgb(0 0 0 / 10%), 0 0 0 2px rgb(255 255 255), 0.3em 0.3em 2em rgb(0 0 0 / 30%);
    margin-bottom: 5%;
    margin-top: 3%;
    margin: 2%;">

        <table style="width: 100%;" id="g-table">
          <thead>

          </thead>
          <tbody th:if="${listaAnuncios}" th:each="anuncio : ${listaAnuncios}">
            <tr>
              </td>
              <td th:if="${anuncio.fecha}" th:text=" ${'Fecha del anuncio: ' + anuncio.fecha}" style="margin-bottom: 10px;
          /* color: white; */
          padding: 4%;
          font-size: larger;
          font-family: ui-sans-serif;"></td>
            </tr>
            </tr>
            <tr>
              <td th:if="${anuncio.titulo_anuncio}" th:text="${anuncio.titulo_anuncio}" style="width: 100%;
          margin: 10px;
          font-size: 30px;
          font-family: serif;
          resize: none;
          
          padding-left: 4%;">

            <tr>
              <td th:if="${anuncio.anuncio}" style="width: 100%;padding: 34px;">
                <textarea disabled th:text="${anuncio.anuncio}" style="width: 100%;
              font-size: 23px;
              margin: 10px;
              
              resize: vertical;
              height: 250px;
              background-color: white;
              border-radius: 7px;
              padding: 16px;
              box-shadow: inset 0 0em 0em rgb(0 0 0 / 10%), 0 0 0 2px rgb(255 255 255), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
              font-family: serif;
              font-weight: 500;"></textarea>
              </td>

            </tr>
            <tr>
              <td>
                <button th:id="'idBoton'+${anuncio.idAnuncios}" class="btn" th:data-id="${anuncio.idAnuncios}"
                  th:onclick="enviarFoto(this.getAttribute('data-id'));" style="width: 100%;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-image-fill" viewBox="0 0 16 16">
                    <path
                      d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                  </svg> Ver Imagen
                </button>
              </td>
            </tr>
            <tr>
              <td th:id="'idFoto'+${anuncio.idAnuncios}">

              </td>
            </tr>
            <!-- <tr th:if="${anuncio.foto_anuncio}">
              <td  th:if="${anuncio.foto_anuncio}" style="text-align: center;"><img th:if="${anuncio.foto_anuncio}"
                  class="img-thumbnail  " style=" margin: 10px; border-radius: 8px;"
                  th:src="@{'/uploadsAnuncios/'+${anuncio.foto_anuncio}}" th:alt="${anuncio.foto_anuncio}" />
              </td>

            
            </tr> -->

            <tr style="height: 90px;">
              <td style="border-color: antiquewhite;">
                <hr>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <aside th:replace="layouts/fragmentoprincipal :: footer"></aside>
  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script th:src="@{/js/fecha.js}"></script>
  <script th:src="@{/js/clima.js}"></script>

</body>

<style>
  #g-table tbody tr>td {

    height: 30px;
    padding-left: 3px;
  }

  #g-table {
    padding-left: 40px;
    margin-top: 20px;

  }

  .espacio {
    height: 10px;
  }
</style>
<script>

  function enviarFoto(id) {
    var idAnuncio = id;
    console.log('este es el id de la foto', idAnuncio);
    $.ajax({
      type: 'GET',
      url: "anuncio",
      //url: "https://cuevas-de-ayllon.com/salvarcomentario",
      data: { 'idAnuncio': idAnuncio },
      // beforeSend: function(){
      //     $('#textoComentario').empty();
      // }
    }).done(function (data) {
      console.log(data);
      if (data.video_anuncio != null) {
        // if (data.video_anuncio.slice((data.video_anuncio.lastIndexOf(".") - 1 >>> 0) + 2) === "mp4") {


        $('#idFoto' + idAnuncio).append('<div class="embed-responsive embed-responsive-21by9"><video class="embed-responsive-item"   style=" margin: 10px; border-radius: 8px;width: 100%;height: 100%;" src="/spring-boot-hoyos/uploadsAnuncios/' + data.video_anuncio + '" controls autoplay ></video></div>');

        $('#idBoton' + idAnuncio).hide();
      }
      // }
      else if (data.audio_anuncio != null) {
        // if (data.audio_anuncio.slice((data.video_anuncio.lastIndexOf(".") - 1 >>> 0) + 2) === "mp3") {


        $('#idFoto' + idAnuncio).append('<div class="embed-responsive embed-responsive-21by9">' +
          '<audio class="embed-responsive-item"   style=" margin: 10px; border-radius: 8px;width: 100%;"  controls autoplay>' +
          '<source src="/spring-boot-hoyos/uploadsAnuncios/' + data.audio_anuncio + '" type="audio/ogg">' +
          '<source src="/spring-boot-hoyos/uploadsAnuncios/' + data.audio_anuncio + '" type="audio/mpeg">' +
          '</audio></div>');

        $('#idBoton' + idAnuncio).hide();
      }
      // }

      else if (data.foto_anuncio != null) {
        $('#idFoto' + idAnuncio).append('<a href="http://localhost:8080/spring-boot-hoyos/uploadsAnuncios/' + data.audio_anuncio + '" download><img class="img-thumbnail"  style=" margin: 10px; border-radius: 8px;" src="/spring-boot-hoyos/uploadsAnuncios/' + data.foto_anuncio + '"  /></a>');

        $('#idBoton' + idAnuncio).hide();
      } else {
        $('#idFoto' + idAnuncio).html('<p style="text-align:center;">Este anuncio no tiene imagen que mostrar</p>');
        $('#idBoton' + idAnuncio).hide();
      }
    });
  }




</script>

</html>