<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Hoyos iguldad</title>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=500, user-scalable=no" />

    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
        }

        .content {

            font-family: "Open Sans";
            background-color: white;

        }

        form {
            width: 100%;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        form #q {

            text-align: left;
            padding: 5px 0px;
        }
    </style>
</head>

<body class="bodyAdministradores">
    <nav th:replace="layouts/fragmentoAdministradores :: nav"></nav>


    <div class="container content" style="margin-top: 10%;font-size: medium;">
        <h4 style="text-align: center;margin: 1%;">Espacio Administradores de pagina</h4>

        <p style="text-align: center;">Subir anuncio a Igualdad en Hoyos.</p>
        <div th:if="${exito}" th:text="${exito}" class="alert alert-info my-4" style="font-size: 20px;
            
            font-weight: bold;"></div>
        <div th:if="${espaciosBlancos}" th:text="${espaciosBlancos}" class="alert alert-info my-4" style="font-size: 20px;
            
            font-weight: bold;"></div>

        <div class="col-lg-12" style="margin-top: 6%;">
            <form th:action="@{/insertarIgualdad}" th:object="${igualdad}" class="text-dark" style="font-size: 15px;"
                method="post" enctype="multipart/form-data">

                <div class="row" style="margin-top: 3%;margin-bottom: 5%;">

                    <!-- <div class="col-lg-12" style="margin-top: 3%;margin-bottom: 5%;"> -->


                    <div class="row">
                        <div class=" col-lg-6">
                            <label form="titulo" class="col-form-label col-sm-2" th:text="${titulo}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="titulo" th:field="*{titulo}" class="form-control" maxlength="140"
                                autocomplete="off">

                        </div>
                        <div class="col-lg-6">
                            <label form="tipo" class="col-form-label col-sm-2" th:text="${tipo}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;">tipo_igualdad</label>
                            <select class="form-control" th:field="*{tipo}" id="dropDownList">tipo_igualdad
                                <option value="Introducir tipo">Introducir tipo </option>
                                <option value="Recursos">Recursos</option>
                                <option value="Asociaciones">Asociación</option>
                                <option value="Mujer">Mujer</option>
                                <option value="LGTBIQ+">LGTBIQ+</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class=" col-lg-6">
                            <label form="Enlace web" class="col-form-label col-sm-2" th:text="${enlaceweb}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="enlaceWeb" th:field="*{enlaceweb}" class="form-control"
                                maxlength="140" autocomplete="off">

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label form="file1" class="col-form-label col-sm-2" th:text="${foto1}" style="font-family: sans-serif;width: 100%;
                                font-size: 20px;"></label>
                            <input type="file" id="file1" name="file1" class="form-control" autocomplete="off">

                        </div>
                        <div class="col-lg-6">
                            <label form="file2" class="col-form-label col-sm-2" th:text="${foto2}" style="font-family: sans-serif;width: 100%;
                                font-size: 20px;"></label>
                            <input type="file" id="file2" name="file2" class="form-control" autocomplete="off">

                        </div>


                    </div>
                    


                    <div class="col-lg-12 col-sm-12">
                        <label form="texto" class="col-form-label col-sm-2" th:text="${texto1}" style="width: 100%;font-family: sans-serif;
                                font-size: 20px;"></label>
                        <textarea id="texto" th:field="*{texto1}" name="texto1" rows="4" cols="50" style=" height: 15%;
                            width: 100%; margin-bottom: 5%;" maxlength="990"></textarea>
                        <label form="texto2" class="col-form-label col-sm-2" th:text="${texto2}" style="width: 100%;font-family: sans-serif;
                            font-size: 20px;"></label>
                        <textarea id="texto2" th:field="*{texto2}" name="texto2" rows="4" cols="50" style=" height: 15%;
                        width: 100%; margin-bottom: 5%;" maxlength="990"></textarea>
                        <label form="texto3" class="col-form-label col-sm-2" th:text="${texto3}" style="width: 100%;font-family: sans-serif;
                                font-size: 20px;"></label>
                        <textarea id="texto3" th:field="*{texto3}" name="texto3" rows="4" cols="50" style=" height: 15%;
                            width: 100%; margin-bottom: 5%;" maxlength="990"></textarea>


                        <div class="row">
                            <div class="col-lg-6 col-sm-6" style="margin-top: 1%;">


                                <input type="submit" class="btn btn-dark"
                                    style="color: #eeeeee;background-color: #463232a3;" value="Enviar" />

                            </div>
                            <div class="col-lg-6 col-sm-6" style="margin-top: 1%;">
                                <a type="button" value="cerrar" th:href="@{/toUsuario}" class="btn btn-dark" style="color: #eeeeee;
                                    background-color: #463232a3;">Cerrar</a>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->

                </div>
            </form>
        </div>
    </div>






    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {


        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>

</html>