<head>
    <title>Hoyos compra venta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, user-scalable=no" />

    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>

<body>
    <div>
        <header class="bodyMercadilloSubir" style="text-align: center;
        color: #ffffff;
        font-family: cursive;
        border-radius: 10px;
        height: 100%;">


            <div class="col-lg-5" id="divCartelEspacioVecinal">
                <h3 id="cartelEspacioVecinal"th:text="#{text.cliente.cartelmercadillo}">
                    </br>
                    
                </h3>
            </div>
            <div th:replace="layouts/fragmentoprincipal :: nombreFoto" ></div>
        </header>
    </div>
    <nav th:replace="layouts/fragmentoUsuarios :: nav"></nav>
    <hr>



    <div class="container col-lg-6">
        <div th:if="${exito}" th:text="${exito}" class="alert alert-info my-4" style="font-size: 20px;
            
            font-weight: bold;"></div>
        <div th:if="${espaciosBlancos}" th:text="${espaciosBlancos}" class="alert alert-info my-4" style="font-size: 20px;
            
            font-weight: bold;"></div>
        <div class="col-lg-12" id="explicacionMercadillo">
            <hr>

            Especifica si es un artículo de compra(Que quieres comprar),venta(Que quieres vender), alquiler o un servicio, indica tu nombre y tu
            teléfono y explica lo mejor que puedas de qué se trata para otras personas que
            puedan estar interesadas. Si además añades fotos y el precio que deseas pedir,
            tendrás más posibilidades de éxitol. ¡Suerte!
            <hr>

        </div>
        <div class="col-lg-12" style="margin-top: 6%;">
            <form th:action="@{/mercadilloServicio}" th:object="${mercadillo}" class="text-dark"
                style="font-size: 15px;" method="post" enctype="multipart/form-data">

                <div class="row" style="margin-top: 3%;margin-bottom: 5%;">

                    <!-- <div class="col-lg-12" style="margin-top: 3%;margin-bottom: 5%;"> -->


                    <div class="row">
                        <div class=" col-lg-6">
                            <label form="nombre" class="col-form-label col-sm-2" th:text="${nombre}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="20"
                                placeholder="Nombre" autocomplete="off">
                            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                class="alert alert-danger">
                            </div>
                        </div>
                        <div class=" col-lg-6">
                            <label form="telefono" class="col-form-label col-sm-2" th:text="${telefono}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="telefono" th:field="*{telefono}" class="form-control" maxlength="20"
                                placeholder="Telefono" autocomplete="off">
                            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
                                class="alert alert-danger"></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label form="tipo_servicio" class="col-form-label col-sm-2" th:text="${categoria}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <select class="form-control" th:field="*{tipo_servicio}" id="dropDownList">nombre_servicio
                                <option value=""></option>
                                <option th:each="tipo_servicio : ${tipo_servicio}" th:value="${tipo_servicio}"
                                    th:text="${tipo_servicio}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('tipo_servicio')}" th:errors="*{tipo_servicio}"
                                class="alert alert-danger"></div>

                        </div>

                        <!-- </div> -->
                        <div class=" col-lg-6">
                            <label form="nombre_servicio" class="col-form-label col-sm-2" th:text="${nombre_servicio}"
                                style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="nombre_servicio" th:field="*{nombre_servicio}" class="form-control"
                                maxlength="20" placeholder="Ej:Casas,Enseres,Albañileria" autocomplete="off">

                            <div th:if="${#fields.hasErrors('nombre_servicio')}" th:errors="*{nombre_servicio}"
                                class="alert alert-danger"></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class=" col-lg-6">
                            <label form="precio" class="col-form-label col-sm-2" th:text="${precio}" style="width: 100%;font-family: sans-serif;
                                    font-size: 20px;"></label>
                            <input type="text" id="precio" th:field="*{precio}" class="form-control" maxlength="20"
                                placeholder="Precio" autocomplete="off">
                            <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
                                class="alert alert-danger"></div>
                        </div>
                        <div class="col-lg-6">
                            <label form="file" class="col-form-label col-sm-2" th:text="${foto1}" style="font-family: sans-serif;width: 100%;
                                font-size: 20px;"></label>
                            <input type="file" id="foto1" name="file1" class="form-control" autocomplete="off">
                            <div th:if="${#fields.hasErrors('foto1')}" th:errors="*{foto1}" class="alert alert-danger">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label form="file" class="col-form-label col-sm-2" th:text="${foto2}" style="font-family: sans-serif;width: 100%;
                                font-size: 20px;"></label>
                            <input type="file" id="foto" name="file2" class="form-control" autocomplete="off">
                            <div th:if="${#fields.hasErrors('foto2')}" th:errors="*{foto2}" class="alert alert-danger">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label form="file" class="col-form-label col-sm-2" th:text="${foto3}" style="font-family: sans-serif;width: 100%;
                                font-size: 20px;"></label>
                            <input type="file" id="foto" name="file3" class="form-control" autocomplete="off">
                            <div th:if="${#fields.hasErrors('foto3')}" th:errors="*{foto3}" class="alert alert-danger">
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 col-sm-12">

                        <label form="texto" class="col-form-label col-sm-2" th:text="${texto}" style="width: 100%;font-family: sans-serif;
                                font-size: 20px;"></label>
                        <textarea id="texto"  name="texto" rows="5" cols="50" style=" height: 52%;
                            width: 100%; margin-bottom: 5%;" maxlength="2000"></textarea>
                        <div th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}" class="alert alert-danger"
                            style="width: 80%;">
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-6" style="margin-top: 1%;">
                                <input type="hidden" th:field="*{id_usuario}" />
                                
                                    <input type="submit" class="btn btn-dark"
                                        style="color: #eeeeee;background-color: #463232a3;" value="Enviar" />
                               
                            </div>
                            <div class="col-lg-6 col-sm-6" style="margin-top: 1%;">
                                <a type="button" value="cerrar" th:href="@{/toUsuario}" class="btn btn-dark" style="color: #eeeeee;
                                    background-color: #463232a3;">Cerrar</a>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->

                </div>
            </form>
        </div>
    </div>






    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
 
 $('#espacioAdministrador').hide();
});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>

</html>