<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</head>

<body class="bodyRegistro" th:fragment="bodyRegistro">

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 24px;z-index: 3;
    text-shadow: aliceblue;
    height: 100px;"> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navAdministrador">
        <div class="container-fluid" style="padding-top: 1%;">
            <a class="nav-link" aria-current="page" 
            th:href="@{/logout}" style="margin-right: 1%;">HOYOS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            Menú <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-light" id="navbarNavDropdown" >
            <ul class="navbar-nav">
                
                <!-- <li class="nav-item" style="margin-left:5px;">
                    <a class="nav-link" th:href="@{/todosDocumentos}" >Informacion Relevante</a>
                </li>
                <li class="nav-item" style="margin-left:5px;">
                    <a  class="nav-link" th:href="@{/grafico}" >Total puntuaciones de propuestas</a>
                </li>
                <li class="nav-item" style="margin-left:5px;">
                    <a  class="nav-link" th:href="@{/estado}" >Estado de las propuestas </a>
                </li> -->
                <!-- <li class="nav-item" style="margin-left:5px;" >
                    <a class="nav-link" th:if="${usuario.idUsuario != null}" href="@{'/mercadillo?idUsuario='+${usuario.idUsuario}}" id="enviaridUsuario" >Compra Venta y Servicios</a>
                </li> -->
                <!-- <li class="nav-item" style="margin-left:5px;" >
                    <a class="nav-link" href="" id="enviaridUsuario" >Compra Venta y Servicios</a>
                </li> -->
                
                <!-- <li class="nav-item" style="margin-left:5px;">
                    <a type="submit" class="btn btn-dark" th:href="@{/subirFotos}" style="background-color: #2c2a2a9c;">Subir Foto a Galeria</a>
                </li> -->
                
                <!-- <li class="nav-item" style="margin-left:5px;">
                    <a class="btn btn-dark" th:href="@{/todosUsuarios}">Lista de Usuarios</a>
                </li>
                <li class="nav-item" style="margin-left:5px;">
                    <a class="btn btn-dark" th:href="@{/fotosGaleriaLista}">Lista de Fotos</a>
                </li> -->
                <!-- <div class="dropdown" style="margin-left:5px;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false" >
                        Espacio Administradores de Pagina
                    </a>
                    <ul class="dropdown-menu"> -->
                        
                        <li class="nav-item"><a class="nav-link" th:href="@{/mercadilloTodosAdministrador}">Lista de Ofertas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/todosUsuarios}">Lista de Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/fotosGaleriaLista}">Lista de Fotos</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/listaPropuestas}">Lista de Propuestas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/editarEstadoLista}">Editar Estados</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/listaAnunciosAdmin}">Lista de Anuncios</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/votacionPropuestas}">Resultado de Propuestas</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" th:href="@{/toFileUpload}">SubirDocumento</a></li> -->
                        <li class="nav-item"><a class="nav-link" th:href="@{/anuncios}">Subir Anuncio </a></li>


                    <!-- </ul>
                </div> -->
                
                <li class="nav-item" style="margin-left:5px;">
                    <a type="submit" class="nav-link" th:href="@{/logout}" >Salir</a>
                </li>
                <!-- <li class="nav-item" style="margin-left:5px;">
                    <a class="btn btn-primary" th:href="@{/tablonAnuncios}">Tablon de anuncios</a>
                </li>
                
                <li class="nav-item " style="margin-left:5px;">
                    <a class="btn btn-primary" th:href="@{/toRutas}">Rutas</a>
                </li>  -->
                <!-- <li class="nav-item" style="margin-left:5px;">
                    <form th:action="@{/logout}" method="pre">
                        <input type="submit" class="btn btn-darck" value="Salir">
              
                      </form>
                   
                </li> -->

            </ul>
          </div>
        </div>
      </nav>

    <!-- <nav class="navbar navbar-expand-lg " th:fragment="nav" style="padding-left: 30%;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 90%;border: solid;
                border-block-width: 8px;background-color:white;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item" style="margin-left:5px;">
                        <a class="btn btn-dark" th:href="@{/logout}" style="background-color: #2c2a2a9c;">Inicio</a>
                    </li>
                    <li class="nav-item" style="margin-left:5px;">
                        <a class="btn btn-dark" th:href="@{/todosDocumentos}" style="background-color: #2c2a2a9c;">Informacion Relevante</a>
                    </li>
                    
                    
                    <div class="dropdown" style="margin-left:5px;">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #2c2a2a9c;">
                            Espacio Administradores de Pagina
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/anuncios}">Subir Anuncio </a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/todosUsuarios}">Lista de Usuarios</a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/fotosGaleriaLista}">Lista de Fotos</a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/listaPropuestas}">Lista de Propuestas</a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/listaAnunciosAdmin}">Lista de Anuncios</a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/votacionPropuestas}">Resultado de Propuestas</a></li>
                            <li class="nav-item"><a class="dropdown-item" th:href="@{/toFileUpload}">SubirDocumento</a></li>


                        </ul>
                    </div>
                    <li class="nav-item" style="margin-left:5px;">
                        <a type="submit" class="btn btn-dark" th:href="@{/logout}" style="background-color: #2c2a2a9c;">Salir</a>
                    </li>
                    

                </ul>
            </div>
        </div>
    </nav> -->
    <!-- <div class="container" th:fragment="fondo" id="divImgInicio"> -->
    <img src="imagenes/imagenDeFondo.jpg" class="img-fluid" alt="Cinque Terre" id="imgInicio" th:fragment="fondo" />

    <!-- </div> -->
    <div class="container" th:fragment="espacio"></div>
    <!-- <footer class="footer " th:fragment="footer" style="position: fixed;
    background-color: white;" >
        <div class="container py-2">
            <p class="text-black my-2">Cuevas de Ayllon</p>
        </div>
    </footer> -->
    <script></script>


</body>

</html>