<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
   
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body class="bodyRegistro" th:fragment="bodyRegistro">



    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navPrincipal">
        <div class="container-fluid" style="padding-top: 1%;margin-right: 1%;">
            <a class="nav-link" aria-current="page" 
            th:href="@{/}">HOYOS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            Menú <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-light" id="navbarNavDropdown" >
            <ul class="navbar-nav">
                
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link" aria-current="page" th:href="@{/fotosGaleria}"
                        >Galeria de
                        imagenes</a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link" 
                        th:href="@{/historiaPueblo}">Historia</a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link" th:href="@{/toRutas}" >Rutas</a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link" th:href="@{/todosAnuncios}" >Tablon
                        de Anuncios</a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link" th:href="@{/enlacesDeInteres}"
                        >Enlaces de Interes</a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link"  th:href="@{/piscinasNaturales}">Piscina Natural
                        </a>
                </li>
                <li class="nav-item " style="margin-left:5px;">
                    <a class="nav-link"  th:href="@{/mercadilloTodos}">Compra Venta y Servicios</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Espacio Vecinal
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="desplegableNavPrincipal">
                    <li><a class="dropdown-item" th:href="@{/registrarse}" >Registrarse</a></li>
                    <li><a class="dropdown-item" th:href="@{/toLoging}">Entrar</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <aside th:fragment="footer" id="textoAside" class="col-lg-2 col-sm-10" style="margin-left: 5%;
    margin-top: 4%;">
        <a href="" style="text-decoration: none;
        color: #2f3235c7;">Hoyos</a>
        <hr>
        <a href="https://www.guardiacivil.es/ca/institucional/directorio/soria/puesto_de_san_esteban_de_gormaz.html"
            style="text-decoration: none;color: #2f3235c7;" data-toggles="tooltip" data-placement="bottom" title="GUARDIA CIVIL
         PUESTO DE SAN ESTEBAN DE GORMAZ
         Localidad: SAN ESTEBAN DE GORMAZ
         Provincia: SORIA
         Dirección postal: AVDA. DEL GENERALISIMO, 10
         Código postal: 42330
         Teléfono: 975350046">Seguridad ciudadana</a>
        <hr>
        <a th:href="@{/contacto}" style="text-decoration: none;color: #2f3235c7;">Contacto</a>
        <hr>
        <a th:href="@{/preguntas}" style="text-decoration: none;color: #2f3235c7;">Preguntas frecuentes</a>
        <hr>
        <a href="https://www.google.com/maps/place/42342+Cuevas+de+Ayll%C3%B3n,+Soria/@41.3900595,-3.3133699,16z/data=!3m1!4b1!4m5!3m4!1s0xd4471d9e8689bef:0xd01fd59690b0f669!8m2!3d41.3899419!4d-3.3093724"
            style="text-decoration: none;color: #2f3235c7;">Como llegar</a>
        <hr>

    </aside>



</body>


</html>